<html>
<head>
    <script></script>
</head>
<body>
<h2>Bonjour <%= username %></h2>
<iframe src="https://giphy.com/embed/keTwQbbQwlNM2RNJsW"
        width="480"
        height="270"
        frameBorder="0"
        class="giphy-embed"
        allowFullScreen></iframe>
</body>
</html>